body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  --color-primary: rgb(226, 68, 68);
  --color-primary-dark: rgb(226, 28, 28);
  --color-primary-light: rgb(226, 108, 108);
  --color-secondary: white;
  --color-secondary-dark: rgb(233, 233, 233);
  --color-secondary-light: white;
}

