.classHistory-title{
    background-color: rgb(255,255,255, .95);
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 3.5%;
    z-index: 1001;
} 


.classHistory-content{
    margin-top: max(100px, 12.5%);
    margin-bottom: 10%;
}

.classHistory-header{
    display:flex;
    margin-top: max(100px, 12.5%);
    margin-bottom: 1.5%;
}

.classHistory a {
    cursor:pointer;
}