.dashboardAdmin-title{
    background-color: rgb(255,255,255, .95);
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 2.5%;
    z-index: 1001;
} 

.dashboardAdmin-content{
    margin-top: max(100px, 11%);
    margin-bottom: 2.5%;
}

.rc-slider-mark-text {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
}